{
  values: [
    {
      key: 'baseUrl',
      value: 'http://localhost:5000'
    },
    {
      key: 'validUser',
      value: 'admin'
    },
    {
      key: 'validPassword',
      value: 'admin123'
    },
    {
      key: 'invalidUser',
      value: 'invalidUser'
    },
    {
      key: 'invalidPassword',
      value: 'invalidPassword'
    },
    {
      key: 'bidanPhone',
      value: '08111111111'
    }
  ]
}
